name: Node.js Package

on:
  release:
    types: [created]

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          token: ${{ secrets.GH_PAT }}

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: https://npm.pkg.github.com/

      - name: Install dependencies
        shell: bash
        run: bun install

      - run: bun publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GH_PAT}}
